@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

@section JavaScript
{
<script type="text/javascript" src="@Url.Content("/js/TargetCanvas.js")"></script>
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<canvas id="myCanvas" width="200" height="200"></canvas>

<p>Use this area to provide additional information.</p>
